<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <!--<add name="SQL" connectionString="Server=54.233.154.67;Database=Ensalamento_Encceja;Uid=desenvolvimento;Pwd=T1xpuQcasDhH3wiv;Connection Timeout=0" />-->
    <add name="SQL" connectionString="Server=104.41.136.14;Database=Ensalamento_Enem;Uid=desenvolvimento;Pwd=bmiqM8a8bfv!zs5j;Connection Timeout=0"/>
  </connectionStrings>
</configuration>
