@{
    ViewData["Title"] = "Home Page";
}

@using(Html.BeginForm("EnviarEmail", "Home", FormMethod.Post))
{
    <div>
        <br />
        <div>
            @Html.TextBox("txtEmail", "", new { @class = "form-control" })
        </div>
        <br />
        <button class="btn btn-success">Enviar</button>
    </div>
}