@model ProjetoKajika.Models.UsuarioModel

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
<link rel="stylesheet" type="text/css" href="~/Content/style.css" />

<h2 style="color:white">HOME</h2>