<div>
    @*<iframe src="https://www.youtube.com/watch?v=X3Zs-HZczUM" width="1200" height="700" allowfullscreen></iframe>*@
    @*<iframe width="1200" height="700" src="https://www.youtube.com/embed/X3Zs-HZczUM?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
    <iframe width="1200" height="700" src="https://www.youtube.com/embed/FtQC8MKl954" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    @*<iframe width="800" height="500" src="http://localhost:4848/single/?appid=C%3A%5CUsers%5Ccaio_%5CDocuments%5CQlik%5CSense%5CApps%5Cmapa_area.qvf&sheet=a2f6c69e-70d5-4608-bfbb-71591e09b3c6&opt=ctxmenu,currsel" style="border:none;"></iframe>*@
</div>