<head>
    <link href="~/fa-icon/css/all.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="jumbotron">
        <h2>@ViewBag.CheckoutCompletoMensagem<i class="far fa-smile-beam fa-spin"></i></h2>
    </div>
</div>
